@media screen and (max-width: 500px) {
    input#searchInput.message {
        border: none;
        font-size: 18px;
        padding-right: 3rem;
        color: white;
        outline: none;
        padding-left: 3.5rem;
        width: 15rem;
      }
}
