@media screen and (max-width: 500px) {
    input#searchInput.message {
        border: none;
        font-size: 1.12rem;
        padding-right: 3rem;
        color: white;
        outline: none;
        padding-left: 3.5rem;
        width: 10rem;
      }
      input#searchInput.message-en {
        border: none;
        font-size: 1.12rem;
        padding-right: 3rem;
        color: white;
        outline: none;
        padding-left: 3.5rem;
        width: 10rem;
      }
      a li{
        color: white;
        text-decoration: none;
        list-style: none;
        margin-left: .2rem;
        margin-right: .2rem;
    }
    .popimg {
      width: 18.75rem;
      user-select: none;
    }
    .popup-content p {
      margin-left: 3rem;
      margin-right: 3rem;
    }
}
